  * { 
      margin: 0;
      padding: 0;
      font-family: 'Raleway';
      text-decoration: none;
      box-sizing: border-box;
    }
  body {
      background-color: black;
    }
  header {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    /*HEADER SUPERIOR*/
.parte_superior{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0px;
}

/* titulo de la pagina*/
.titulo{
    display: flex;
    justify-content: center;
    background:black;
    color:#066DCC; 
    font-weight:bold; 
    padding:33px; 
    font-size:52px
}

/* Logo INAOE */
.logoimg{
  display: flex;
    height: 120px;
    align-items: center;
}

    /* Menú principal */
    .container__menu{
      width: 100%;
      height: 55px;
      position: sticky;
      top: 0;
      background: #023877;
      padding: 0px 25px;
  }
  
  .menu{
      max-width: 1200px;
      margin: auto;
      height: 100%;
  }

  nav{
    height: 100%;
     }

nav > ul{
    height: 100%;
    display: flex;
    }

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
    }

    
/*ICONO HOME*/
nav > ul > li:first-child > a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
    }

nav > ul > li:first-child:hover > a{
  background-image: url(../img/home.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

nav > ul > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  font-size: 15px;
  transition: all 300ms ease;
}

nav > ul > li > a:hover{
  transform: scale(1.1);
  background: #0074C7;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

#selected{
  transform: scale(1.1);
  background-color: #0074C7;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

    /* Menú de la página */
    .indice {
      background: #54ABFA;
      margin: 50px 10px 0 10px;
      width: 35%;
      height: 100%;
      padding: 20px 60px 20px 20px;
      border-radius: 3px;
      position: sticky;
      top: 55px;
      z-index: 2;
      display: block;
      box-shadow: 5px 5px 4px #162635, -5px -5px 4px #6b8196;
    }

    a {
      color: #0099FF;
    }

    a.contenido {
      color: black;
    }

    .indice .indice_titulo {
      font-size: 20px;
      color: black;
      padding: 0 0 0 10px;
    }

    .indice .indice_lista {
      padding: 0 0 0 30px;
    }



    /* Texto general */
    .texto {
      background: #131313;
      margin: 20px 20px 20px 10px;
      border-radius: 1rem;
      padding: 0 20px 0 20px;
      box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
    }

    .capa {
      background: #131313;
      height: 40px;
      position: relative;
      padding: 0;
    }

    p {
      padding: 0 20px 0 10px;
      text-align: justify;
      text-indent: 20px;
    }

    h2 {
      text-align: center;
      padding: 0 20px 0 10px;
      font-size: 40px;
    }

    h3 {
      padding: 0 20px 0 10px;
      font-size: 30px;
    }

    h4 {
      padding: 0 20px 0 10px;
      font-size: 20px;
    }



    /* Tablas */
    table {
      color: white;
    }



    /* Listas o numeración */
    .listas,
    .numeracion {
      padding: 0 20px 0 20px;
      text-align: justify;
    }

    ul.listas,
    ol {
      font-family: Raleway;
      padding: 0px 0px 0px 30px;
    }

    ol ol {
      font-family: Raleway;
      padding: 0px 0px 0px 30px;
    }



    /* Actividad diáctica */
    button, input {
      padding: 20px 0px 20px 0px;
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
      color: white;
      background-color: #066dcc;
      border-radius: 6px;
      cursor: pointer;
    }

    label {
      color: black;
      font-family: Raleway;
    }

    .preguntas {
      background: white;
      width: 80%;
      height: auto;
      border-radius: 4px;
      text-align: center;
    }
    
    .modal {
      display: none;
      position: fixed;
      z-index: 1; 
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    .modal-content{  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }

    .close {
      position: absolute;
      top: 50px;
      right: 40px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    @media screen and (max-width: 720px){
      .modal-content {
        width: 100%;
      }
    }



    /* Pie de página */
    #header_wrap2 {
      justify-items: center;
      align-items: flex-end;
      margin: 0px;
    }

    .titulo{
      align-items: center;
  }